<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <connectionStrings>
    <add name="medialibrary" providerName="System.Data.SqlClient" connectionString="Data Source=LAPTOP\SQLEXPRESS;User ID=devadmin;Password=devadminpass" />
  </connectionStrings>
  <castle>
    <components>
      <component id="databaseAdapter" service="Bluejam.Utils.DatabaseScripter.Domain.Strategies.DatabaseAdapter, Bluejam.Utils.DatabaseScripter.Domain" type="Bluejam.Utils.DatabaseScripter.DbAdapter.SqlServerSmo.Adapter, Bluejam.Utils.DatabaseScripter.DbAdapter.SqlServerSmo" />
      <component id="previewAdapter" service="Bluejam.Utils.DatabaseScripter.Domain.Strategies.DatabaseAdapter, Bluejam.Utils.DatabaseScripter.Domain" type="Bluejam.Utils.DatabaseScripter.DbAdapter.FileWriter.Adapter, Bluejam.Utils.DatabaseScripter.DbAdapter.FileWriter" />
      <component id="configInjector" service="Bluejam.Utils.DatabaseScripter.Domain.Strategies.ConfigInjector, Bluejam.Utils.DatabaseScripter.Domain" type="Bluejam.Utils.DatabaseScripter.BasicConfigInjector.Injector, Bluejam.Utils.DatabaseScripter.BasicConfigInjector" />
      <component id="validator" service="SharpArch.Core.CommonValidator.IValidator, SharpArch" type="SharpArch.Core.NHibernateValidator.CommonValidatorAdapter.Validator, SharpArch" />
    </components>
  </castle>
</configuration>