<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="castle"
             type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    <section name="databaseScripter"
             type="Bluejam.Utils.DatabaseScripter.Core.DatabaseScripterSection, Bluejam.Utils.DatabaseScripter.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>

  <connectionStrings>
    <add name="medialibrary" providerName="System.Data.SqlClient" connectionString="Data Source=LAPTOP\SQLEXPRESS;User ID=devadmin;Password=devadminpass"/>
  </connectionStrings>

  <castle>
    <components>
      <component
        id="databaseAdapter"
        service="Bluejam.Utils.DatabaseScripter.Domain.IDatabaseAdapter, Bluejam.Utils.DatabaseScripter.Domain"
        type="Bluejam.Utils.DatabaseScripter.DbAdapter.SqlServer.SqlServerAdapter, Bluejam.Utils.DatabaseScripter.DbAdapter.SqlServer"/>
      <component
        id="previewAdapter"
        service="Bluejam.Utils.DatabaseScripter.Domain.IDatabaseAdapter, Bluejam.Utils.DatabaseScripter.Domain"
        type="Bluejam.Utils.DatabaseScripter.DbAdapter.FileWriter.FileWriterAdapter, Bluejam.Utils.DatabaseScripter.DbAdapter.FileWriter"/>
    </components>
  </castle>

  <databaseScripter xmlns="http://code.google.com/p/databasescripter/2010/04/25/ConfigSchema">
    <manifestPath>ThisFileDoesNotExist.xml</manifestPath>
    <globalScriptProperties>
      <property name="connection">medialibrary</property>
      <property name="databaseName">MediaLibrary</property>
    </globalScriptProperties>
    <scripts>
      <script name="create">
        <properties>
          <property name="databasePath">D:\databases</property>
        </properties>
      </script>
      <script name="increment to 0.0.0.1" />
    </scripts>
  </databaseScripter>

</configuration>