<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section
      name="castle"
      type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />    
    <section 
      name="databaseScripter"
      type="Bluejam.Utils.DatabaseScripter.Core.Config.DatabaseScripterSection, Bluejam.Utils.DatabaseScripter.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>

  <connectionStrings>
    <add name="devadmin" providerName="System.Data.SqlClient" connectionString="Data Source=LAPTOP\SQLEXPRESS;User ID=devadmin;Password=devadminpass"/>
  </connectionStrings>

  <castle>
    <components>
      <component 
        id="databaseAdapter"
        service="Bluejam.Utils.DatabaseScripter.DbAdapter.IDatabaseAdapter, Bluejam.Utils.DatabaseScripter.DbAdapter"
        type="Bluejam.Utils.DatabaseScripter.DbAdapter.SqlServer.SqlServerAdapter, Bluejam.Utils.DatabaseScripter.DbAdapter.SqlServer"/>
    </components>
  </castle>
  
  <databaseScripter>
    <manifestPath>..\..\..\Database\manifest.xml</manifestPath>
    <globalScriptProperties>
      <property name="connection">devadmin</property>
      <property name="databaseName">MediaLibraryIntegration3</property>
    </globalScriptProperties>
    <scripts>
      <script name="create" />
      <script name="increment to 0.0.1" />
      <!--<script name="drop" />-->
    </scripts>
  </databaseScripter>
  
</configuration>